extends main.pug 

append HEAD
	+meta("Mail", "Mail display page")
	meta(name="robots" content="noindex, nofollow, noarchive")

	link(rel="stylesheet" href="/css/mail.css")

	title mail | !{Web.config.get("text.title")}

block BODY 
	| !{rendered}