c-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	align-items: center;
	width: -moz-fit-content;
	width: fit-content;
}
c-select.disabled c-select-current {
	opacity: 0.6;
}
c-select.disabled c-select-current,
c-select.disabled c-select-option {
	cursor: not-allowed;
}
c-select-current {
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}
c-select-current:after {
	content: "\f107";
	font-family: "Line Awesome Free Solid";
	margin-left: 0.5rem;
}
c-select-current[data-label]:before {
	content: attr(data-label) " :";
	margin-right: 0.5rem;
}
c-select-current:hover,
c-select.open c-select-current,
c-select-current[aria-expanded="true"] {
	background-color: var(--background-secondary-color);
}
/* c-select-options {
	display: flex;
	position: absolute;
	top: calc(100% + 0.5rem);
	right: 0;
	padding: 0.5rem 0;
	background-color: var(--background-tertiary-color);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	width: max-content;
	z-index: 100;
	box-shadow: 0px 0px 1px 1px var(--background-tertiary-color);
} */
c-select:not(.open) c-select-options {
	display: none;
}
c-select-option {
	padding: 0.5rem 1rem;
	cursor: pointer;
	max-width: 20rem;
	display: flex;
	align-items: center;
	width: 100%;
}
c-select-option:hover {
	background-color: var(--background-secondary-color);
}
 /* ANCHOR c-boolean */
c-boolean {
	width: 2.4rem;
	height: 1.2rem;
	background-color: var(--background-secondary-color);
	border-radius: 1rem;
	display: flex;
	border: solid 0.25rem var(--background-secondary-color);
	cursor: pointer;
	box-sizing: content-box;
	align-items: center;
	justify-content: flex-start;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	animation: var(--transition);
}
c-boolean[value="true"] {
	justify-content: flex-end;
}
c-boolean-circle {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 100%;
	background-color: var(--accent-color);
	display: table;
	opacity: 0.8;
} /* ANCHOR LIST */
c-input-array {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid var(--divider-color);
	border-radius: 0.5rem;
	overflow: scroll auto;
}
c-input-array-current {
	display: flex;
	flex-direction: column;
	overflow: scroll hidden;
}
c-input-array-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	background-color: var(--background-secondary-color);
}
c-input-array-column {
	flex: 1;
}
c-input-array-column:last-child {
	flex: 0;
	min-width: 3rem;
}
c-input-array-body {
	min-height: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 0.5rem;
}
c-input-array-body:empty:after {
	content: attr(data-empty);
}
c-input-array-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 0 0.5rem 0 1rem;
}
c-input-array-field {
	overflow-x: scroll;
}
c-input-array-field:not(:last-child) {
	flex: 1;
	padding: 0.5rem 0.5rem 0.5rem 0;
}
c-input-array-field:last-child {
	flex: 0;
	min-width: 3rem;
}
c-input-array-field:last-child btn {
	font-size: 1.5rem;
	transition: var(--transition);
}
c-input-array-field:last-child btn:hover {
	color: var(--danger-color);
	background-color: var(--background-tertiary-color);
}
c-input-array-field .ta {
	border: none;
	border-radius: unset;
	border-bottom: 1px solid var(--divider-color);
}
c-input-array-field .ta input {
	height: 2rem;
}
c-input-array-add btn {
	margin: 0 0 0.5rem 0.5rem;
}
c-input-array-add btn:hover {
	color: var(--success-color);
	background-color: var(--background-tertiary-color);
	transition: var(--transition);
}
c-input-array-add btn span {
	margin-right: 0.5rem;
}

