code {
	background-color: var(--background-tertiary-color);
	padding: 0.1rem 0.4em;
	border-radius: 0.3rem;
}

container {
	--h1-size: 1.5rem;
	--h2-size: 1.3rem;
	--h3-size: 1.1rem;
}

container > .title {
	display: flex;
	font-size: 3rem;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	text-align: center;
}

container .section {
	padding: 0 0 2rem 1rem;
}
container .section .section {
	padding-bottom: 2rem!important;
}

container .section .title {
	font-size: var(--h1-size);
	font-weight: bold;
}
container .section .section .title {
	font-size: var(--h2-size);
}
container .section .section .section .title {
	font-size: var(--h3-size);
}
container .section .section,
container .section .section .section {
	border-left: 1px solid var(--divider-color);
}
container .section .title .return-top {
	margin-left: 1rem;
	opacity: 0;
	transition: var(--transition);
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
container .section .title:hover .return-top {
	opacity: 1;
}
container .section .title#table_of_contents .return-top {
	display: none;
}

container .section .content > *,
container .section .content {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
container .section .content > *:first-child {
	padding-top: 0!important;
}
container .section:last-child .content > *:last-child {
	padding-bottom: 0!important;
}

container .section .content .list-item {
	margin-left: 1.5rem;
	padding-left: 1rem;
}
container .section .content .list-item .list-item {
	margin-left: 0;
}
container .section .content .list-item::marker {
	content: "â—";
}
