container {
	max-width: 70rem;
}
c-vertical-tabs-search ~ c-vertical-tabs-menu {
	overflow-y: scroll;
	height: calc(100% - 36px - 1rem);
}
app {
	display: block;
}
.no_language {
	width: 100%;
	display: flex;
	justify-content: center;
}
c-horizontal-tabs {
	display: block;
}
[sahyg-tab="identification"] {
	height: 100%;
	display: block;
}
[sahyg-tab="identification"] .actions {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: row;
	gap: 1rem;
	margin-bottom: 1rem;
	flex-wrap: wrap;
}
[sahyg-tab="identification"] .actions sahyg-button {
	-ms-flex: 1;
	flex: 1;
}
[sahyg-tab="identification"] .possibilities {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0.5rem;
}
[sahyg-tab="identification"] .possibilities:not(.visible) {
	display: none;
}
[sahyg-tab="identification"] .possibility {
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-tertiary-color);
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: node;
	user-select: none;
}
[sahyg-tab="identification"] .possibility:hover {
	background-color: var(--background-secondary-color);
}
[sahyg-tab="identification"] .sketch {
	max-width: 40rem;
	margin: 2rem auto;
	width: 100%;
}
[sahyg-tab="identification"] .specimen {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
[sahyg-tab="identification"] .specimen > div:not(.cards),
[sahyg-tab="identification"] .specimen .card {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	flex-wrap: wrap;
}
[sahyg-tab="identification"] .specimen .cards {
	width: 100%;
	gap: 1rem;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
[sahyg-tab="identification"] .specimen .card {
	background-color: var(--background-tertiary-color);
	padding: 0.5rem 1rem;
	min-width: 15rem;
	-ms-flex: 1;
	flex: 1;
}
[sahyg-tab="identification"] .specimen .properties,
[sahyg-tab="identification"] .specimen .habitat,
[sahyg-tab="identification"] .specimen .location {
	margin-top: 1rem;
}
[sahyg-tab="identification"] .specimen .name {
	font-weight: bold;
	padding-bottom: 0.5rem;
}
[sahyg-tab="search"] {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
}
[sahyg-tab="search"] .search-bar {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
}
[sahyg-tab="search"] .search-bar .ta-search {
	flex: 10;
	width: 100%;
	min-width: 15rem;
}
[sahyg-tab="search"] .search-bar .ta-search input {
	height: 2.5rem;
}
[sahyg-tab="search"] .counter {
	margin-top: 0.5rem;
}
[sahyg-tab="search"] .counter .value {
	margin-right: 0.5rem;
}
[sahyg-tab="search"] .results {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-top: 1.5rem;
	align-items: center;
}
[sahyg-tab="search"] .results .item {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--background-secondary-color);
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	width: 100%;
}
[sahyg-tab="search"] .results .item .possibilities .title {
	font-weight: bold;
}
[sahyg-tab="search"] .results .item .possibilities .list {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	row-gap: 0.5rem;
}
[sahyg-tab="search"] .results .item .property .name {
	font-weight: bold;
	margin-right: 1rem;
}
[sahyg-tab="search"] .results .item .position {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}
[sahyg-tab="search"] .results .item .position .parents {
	display: flex;
	column-gap: 1rem;
	align-items: center;
	margin-right: auto;
	flex-wrap: wrap;
}
[sahyg-tab="search"] .results .item .position .id {
	text-align: end;
	white-space: nowrap;
}
[sahyg-tab="glossary"] c-vertical-tabs {
	height: auto;
}
[sahyg-tab="glossary"] c-vertical-tabs-search {
	padding: 0 0.5rem;
	margin-bottom: 1rem;
}
[sahyg-tab="glossary"] c-vertical-tabs-search input {
	height: 2rem;
}
[sahyg-tab="glossary"] sahyg-tabs:not([orientation="horizontal"]) [sahyg-tab] {
	text-align: justify;
	padding-right: 1rem;
	width: 100%;
}
[sahyg-tab="glossary"] sahyg-tabs:not([orientation="horizontal"]) [sahyg-tab] c-title {
	margin-bottom: 2rem;
	font-size: 2rem;
}
[sahyg-tab="glossary"] sahyg-tabs:not([orientation="horizontal"]) [sahyg-tab] img {
	max-width: min(100%, 30rem);
	height: auto;
}
@media screen and (max-width: 500px) {
	[sahyg-tab="identification"] .possibility {
		padding: 1rem 1rem;
	}
}
