container {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: center;
	row-gap: 5rem;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
container .title {
	font-size: 4rem;
	margin-top: 10vh;
}
html[connected] container .title {
	margin-top: 10vh;
}
container .login btn {
	height: 3rem;
	font-size: large;
}
container .section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3rem;
}
container .section .title {
	font-size: 2.5rem;
}
container .applications {
	width: 100%;
	display: flex;
	justify-items: center;
	-ms-grid-columns: repeat(auto-fit, min(8rem, 100%));
	grid-template-columns: repeat(auto-fit, min(8rem, 100%));
	justify-content: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	max-width: 50rem;
}
container .applications .application {
	width: 7rem;
	height: 10rem;
	background-color: var(--background-secondary-color);
	border-radius: 1rem;
	color: var(--color-primary-text);
	transition: background-color var(--transition);
}
container .applications .application:hover {
	transform: scale(1.01);
	background-color: var(--background-tertiary-color);
}
container .applications .application .name {
	position: absolute;
	bottom: 1rem;
	width: 100%;
	text-align: center;
	padding: 0 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
container .applications .application .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	aspect-ratio: 1;
	text-align: center;
	padding: 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
container .applications .application .img img {
	width: 80%;
	height: unset;
	color: white;
}
container .applications .application .img img:not(.colored) {
	filter: var(--filter-color-text);
}
container .applications .application .img .lafs {
	font-size: 6rem;
}
