html,
:after,
:before {
	--base-white: #fff;
	--base-black: #000;
	--gray-50: #f5f8fd;
	--gray-100: #f1f5fb;
	--gray-150: #eaf0f8;
	--gray-200: #e0e9f4;
	--gray-250: #d6e0ed;
	--gray-300: #bbc9dc;
	--gray-350: #a2b4cb;
	--gray-400: #8396af;
	--gray-450: #657892;
	--gray-500: #576b85;
	--gray-550: #4d5e74;
	--gray-600: #3f4d62;
	--gray-650: #2e3c50;
	--gray-700: #232e3c;
	--gray-750: #1b2633;
	--gray-800: #121a24;
	--gray-900: #0d1219;
	--blue-50: #eff6ff;
	--blue-100: #e7f1ff;
	--blue-200: #c8e1ff;
	--blue-300: #95c6ff;
	--blue-400: #57a1f8;
	--blue-500: #1a81fa;
	--blue-600: #0368de;
	--blue-700: #0058c0;
	--blue-800: #0042a6;
	--blue-900: #003585;
	--indigo-50: #f6f5ff;
	--indigo-100: #ebeaff;
	--indigo-200: #d4d0ff;
	--indigo-300: #b9b2ff;
	--indigo-400: #8378ff;
	--indigo-500: #6052ff;
	--indigo-600: #5748ff;
	--indigo-700: #4a3aff;
	--indigo-800: #2617ce;
	--indigo-900: #0c009b;
	--violet-50: #f9f6ff;
	--violet-100: #f0eaff;
	--violet-200: #e5d9ff;
	--violet-300: #cbb4ff;
	--violet-400: #a076ff;
	--violet-500: #8854fc;
	--violet-600: #7b2bff;
	--violet-700: #6823d4;
	--violet-800: #5114af;
	--violet-900: #3f0c8e;
	--green-50: #f0fffa;
	--green-100: #eafaf4;
	--green-200: #d2f0e5;
	--green-300: #8ce4c5;
	--green-400: #39c693;
	--green-500: #1ba875;
	--green-600: #0e9c69;
	--green-700: #0d8b5e;
	--green-800: #066845;
	--green-900: #004d31;
	--yellow-50: #fffbef;
	--yellow-100: #fff9e3;
	--yellow-200: #ffecb4;
	--yellow-300: #ffdb7d;
	--yellow-400: #fec941;
	--yellow-500: #fdb601;
	--yellow-600: #e0a306;
	--yellow-700: #b2830a;
	--yellow-800: #8a6c1e;
	--yellow-900: #5f4b18;
	--orange-50: #fff8f5;
	--orange-100: #fff3ec;
	--orange-200: #ffdaca;
	--orange-300: #ffac92;
	--orange-400: #ff7d5f;
	--orange-500: #ff603b;
	--orange-600: #f55a03;
	--orange-700: #dd5406;
	--orange-800: #ba4d0f;
	--orange-900: #8f471e;
	--red-50: #fff5f6;
	--red-100: #ffedee;
	--red-200: #ffd0d4;
	--red-300: #f8a8ae;
	--red-400: #ff707a;
	--red-500: #ff3a49;
	--red-600: #ff0013;
	--red-700: #ce0010;
	--red-800: #97000b;
	--red-900: #680008;
	--color-water-darker: var(--blue-700);
	--color-water: var(--blue-500);
	--color-water-lighter: var(--blue-100);
	--color-lava-darker: var(--red-700);
	--color-lava: var(--red-500);
	--color-lava-lighter: var(--red-100);
	--color-grass-darker: var(--green-700);
	--color-grass: var(--green-500);
	--color-grass-lighter: var(--green-100);
	--color-gold-darker: var(--yellow-700);
	--color-gold: var(--yellow-500);
	--color-gold-lighter: var(--yellow-100);
	--color-charcoal-darker: var(--gray-800);
	--color-charcoal: var(--gray-700);
	--color-charcoal-lighter: var(--gray-650);
	--color-graphite-darker: var(--gray-550);
	--color-graphite: var(--gray-500);
	--color-graphite-lighter: var(--gray-450);
	--color-stainless-darker: var(--gray-400);
	--color-stainless: var(--gray-350);
	--color-stainless-lighter: var(--gray-300);
	--color-alloy-darker: var(--gray-250);
	--color-alloy: var(--gray-150);
	--color-alloy-lighter: var(--gray-100);
	--color-white: #fff;
	--color-border: var(--gray-150);
	--color-border-dark: var(--gray-650);
	--color-overlay: var(--color-charcoal-darker);
	--color-facebook: #3e5b96;
	--color-twitter: #2aa3ef;
	--color-github: #444;
	--color-google-plus: #db4e47;

	/* transition */
	--transition-duration: 200ms;
	--transition: var(--transition-duration) ease-in-out;

	/* font */
	--font-main: "Inter", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
		"Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-header: "Poppins", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
		"Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-code: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace"; /* ANCHOR header */
	--font-icon-solid: "Line Awesome Free Solid";
	--font-icon-regular: "Line Awesome Free Regular";

	--header-height: 4rem;
	--success-color: hsl(145, 72%, 30%);
	--danger-color: hsl(3, 85%, 48%);
	--warning-color: rgb(255, 174, 0);
	--popup-z-index: 100;
	--toast-z-index: 200;
	--scrollbar-width: 10px;
	--backdrop-color: rgba(0, 0, 0, 0.25);
}
html,
:after,
:before,
::-webkit-scrollbar {
	/* ANCHOR background */
	--background-color: var(--color-white);
	--background-secondary-color: var(--gray-150);
	--background-tertiary-color: var(--gray-100);
	--accent-color: var(--blue-600);
	--divider-color: var(--gray-200);
	--disabled-button-color: var(--gray-350);
	--revert-color: var(--base-dark); /* ANCHOR text */
	--link-color: var(--blue-600);
	--color-text: var(--base-black);
	--filter-color-text: invert(0%) sepia(100%) saturate(7500%) hue-rotate(194deg) brightness(87%) contrast(113%);
	--color-primary-text: var(--gray-700);
	--color-secondary-text: var(--gray-400);
	--color-tertiary-text: var(--gray-200);
	--color-disabled-text: var(--gray-350);
	--color-base-header: var(--gray-900);
	--color-disabled-header: var(--gray-350);
	--color-text-code: var(--gray-900);
	--color-background-code: var(--gray-100);
	--color-text-hover: var(--accent-color); /* ANCHOR selection */
	--text-selection-background: var(--blue-200);
	--text-selection-text: var(--gray-200); /* ANCHOR Tooltip */
	--tooltip-background-primary-color: var(--gray-150);
	--tooltip-background-secondary-color: var(--gray-300);
	--tooltip-text-color: var(--gray-650);
	--tooltip-border-color: var(--gray-300);
	/* ANCHOR account popup */
	--account-popup-header-color: var(--color-primary-text);
	--account-popup-header-background: var(--blue-300);
	--scrollbar-width: 8px;
}
html[theme~="dark"],
[theme~="dark"] :after,
[theme~="dark"] :before {
	/* ANCHOR background */
	--background-color: var(--gray-900);
	--background-secondary-color: rgb(63 77 98);
	--background-tertiary-color: var(--gray-700);
	--accent-color: var(--blue-500);
	--divider-color: var(--gray-500);
	--disabled-button-color: var(--gray-600);
	--revert-color: var(--base-white); /* ANCHOR text */
	--link-color: var(--blue-300);
	--color-text: var(--base-white);
	--filter-color-text: invert(100%) sepia(0%) saturate(0%) hue-rotate(351deg) brightness(117%) contrast(100%);
	--color-primary-text: var(--gray-150);
	--color-secondary-text: var(--gray-400);
	--color-tertiary-text: var(--gray-500);
	--color-disabled-text: var(--gray-300);
	--color-text-hover: var(--blue-200); /* ANCHOR selection */
	--text-selection-background: var(--blue-700);
	--text-selection-text: var(--gray-700); /* ANCHOR tooltip */
	--tooltip-background-primary-color: var(--gray-650);
	--tooltip-background-secondary-color: var(--gray-600);
	--tooltip-text-color: var(--color-primary-text);
	--tooltip-border-color: var(--gray-600);
	/* ANCHOR account popup */
	--account-popup-header-color: var(--color-primary-text);
	--account-popup-header-background: var(--blue-500);
}
/* ANCHOR font */
@font-face {
	font-family: Audiowide;
	src: url("../fonts/audiowide.woff2");
}

* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	/* -webkit-touch-callout: none; */
	/* scroll-behavior: smooth; */
	/* overscroll-behavior: contain; */
	/* color: var(--color-primary-text); */
}
img {
	height: 100%;
}
input[type="button"],
input[type="submit"] {
	border: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: var(--link-color);
	cursor: pointer;
}
a.underline:hover,
a.ul:hover {
	text-decoration: underline;
}
a:hover {
	color: var(--color-text-hover);
}
html {
	background-color: var(--background-color);
	color: var(--color-primary-text);
	font-family: var(--font-main);
	width: 100vw;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100vw;
	height: 100%;
	overflow: hidden;
}
container {
	display: -ms-grid;
	display: grid;
	width: 100%;
	min-height: calc(100vh - var(--header-height));
	padding: 1rem 1rem 2rem calc(var(--scrollbar-width) + 1rem);
	margin: auto;
	max-width: 100vw;
}
scroll-container {
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100% - var(--header-height));
	display: block;
	width: 100%;
}
.none {
	display: none;
}
/* ANCHOR Scrollbar */
::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: rgba(26, 129, 250, 0.5);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(26, 129, 250, 0.7);
}
/* ANCHOR Selection */
::selection {
	background-color: var(--text-selection-background);
	color: var(--text-selection-text);
}
/* ANCHOR Links */
[target="_blank"]:before,
[href*="mailto:"]:before {
	content: "\f35d";
	font-family: "Line Awesome Free Solid";
	margin-right: 0.2rem;
}
header {
	height: var(--header-height);
	max-width: 100vw;
	border-bottom: 1px solid var(--divider-color);
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	column-gap: 10px;
}
header-title > a {
	display: flex;
	height: 3rem;
	font-family: "Audiowide";
	align-items: center;
	-ms-flex-direction: row;
	flex-direction: row;
	column-gap: 13px;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--color-primary-text);
	transition: var(--transition);
}
/* ANCHOR MENU */
header-menu {
	-ms-flex: 1;
	flex: 1;
	display: flex;
	align-items: center;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 100%;
	/* transition: left var(--transition), opacity var(--transition), background-color 200ms 200ms ease-in-out; */
	cursor: pointer;
}
header-menu .container {
	cursor: auto;
}
header-menu .container .menus .expandable > a {
	border: none;
	background: none;
	font-size: 0.9375rem;
	line-height: 2.375rem;
	font-weight: 600;
	cursor: pointer;
	color: var(--color-primary-text);
	transition: var(--transition);
}
/* header-menu .container .menus .expandable:not(.expanded):hover > a,
header-menu .container .menus .expandable:not(.expanded):hover > a:after {
	color: var(--color-text-hover);
} */
header-menu .container .menus {
	cursor: pointer;
	font-size: 0.9375rem;
}
header-menu .commands {
	height: 4rem;
	display: flex;
	align-items: center;
	column-gap: 1rem;
}
header-menu .commands > * {
	cursor: pointer;
}
html[theme="dark"] header-menu .commands .theme:before {
	content: "\f185";
}
header-menu .commands .theme:before {
	content: "\f186";
	font-family: "Line Awesome Free Solid";
	font-size: 2rem;
}
header-menu .commands > div:hover,
header-menu .commands > a:hover {
	color: var(--accent-color);
}
header-menu .commands .locale {
	height: 32px;
	width: 32px;
}
header-menu .commands .locale > .current {
	height: 100%;
	width: 100%;
}
header-menu .commands .locale .current:focus {
	outline: none;
}
header-menu .commands .locale dropdown {
	position: absolute;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: var(--popup-z-index);
	padding: 0.5rem;
	background-color: var(--background-secondary-color);
	border-radius: 0.5rem;
	left: calc(50% - 0.5rem - 16px);
}
header-menu .commands .locale dropdown:not(.visible),
header-menu .commands .locale dropdown .current {
	display: none;
}
header-menu .commands .locale dropdown > * {
	height: 32px;
	width: 32px;
}
header-menu .commands .settings {
	color: var(--color-primary-text);
}
header-menu .commands .settings:after {
	content: "\f013";
	font-family: "Line Awesome Free Solid";
	font-size: 2rem;
}
/* ANCHOR right-content */
header .right-content {
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	-ms-flex: 1;
	flex: 1;
}
header .account {
	background-color: var(--background-secondary-color);
	padding: 5px 10px 5px 5px;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	column-gap: 10px;
	width: min-content;
	border-radius: 0.4rem;
	cursor: pointer;
}
header .account > .avatar span {
	font-size: 2rem;
}
header .account > .avatar {
	height: 2rem;
	width: 2rem;
	overflow: hidden;
}
header .account > .avatar img {
	height: 2rem;
	width: 2rem;
	border-radius: 1rem;
	overflow: hidden;
}
header .account > .avatar img:before {
	content: "\f007";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-color);
	color: var(--accent-color);
	text-align: center;
	display: flex;
	width: 2rem;
	height: 2rem;
	font-family: "Line Awesome Free Solid";
	font-size: 2rem;
}
/* ANCHOR Account menu */
header .account .menu {
	cursor: auto;
	display: flex;
	position: absolute;
	top: calc(100% + 12px);
	background-color: var(--background-secondary-color);
	border-radius: 0.4rem;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 10px;
	width: max-content;
	z-index: 50;
	transition: right var(--transition), opacity var(--transition);
	overflow: hidden;
}
header .account .menu [data-svg-icon] {
	display: flex;
}
header .account .menu [data-svg-icon]:before {
	font-size: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 0.5rem;
}
header .account .menu[status="opened"] {
	right: 0;
	opacity: 1;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 0.25);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
header .account .menu[status="closed"] {
	right: -100vw;
	opacity: 0;
}
header .account .menu .header {
	background: var(--account-popup-header-background);
	color: var(--account-popup-header-color);
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	margin-bottom: 0.5rem;
	column-gap: 1rem;
}
header .account .menu .header .avatar {
	height: 5rem;
	width: 5rem;
	border-radius: 100%;
	background-color: var(--background-tertiary-color);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .account .menu .header .avatar > span {
	height: 80%;
	width: 80%;
	font-size: 4rem;
}
header .account .menu .header .avatar > img:before {
	content: "\f007";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-color);
	color: var(--accent-color);
	display: flex;
	width: 100%;
	height: 100%;
	font-family: "Line Awesome Free Solid";
	font-size: 4rem;
	align-items: center;
	justify-content: center;
}
header .account .menu .header .informations {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}
header .account .menu .header .informations .username {
	font-weight: bold;
	font-size: 1.4rem;
}
header .account .menu .header .informations .email {
	font-size: 0.9rem;
}
header .account .menu .links {
	display: flex;
	row-gap: 0.5rem;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 16px 16px 16px;
}
header-menu .container .menus .menu .icon img:not(.colored) {
	filter: var(--filter-color-text);
}
/* ANCHOR large window */
@media screen and (min-width: 1024px) {
	menu-icon {
		display: none;
	}
	header-menu .container {
		-ms-flex: 1;
		flex: 1;
		display: flex;
		align-items: center;
		-ms-flex-direction: row;
		flex-direction: row;
		height: 100%;
		transition: left var(--transition), opacity var(--transition);
	}
	header-menu .container .menus {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	header-menu .container .menus .expandable button:nth-child(1) {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
	header-menu .container .menus .expandable {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
	header-menu .container .menus .expandable .menu {
		display: none;
		position: absolute;
		background-color: var(--background-tertiary-color);
		padding: 0.5rem;
		border-radius: 5px;
		width: 20rem;
		z-index: 50;
	}
	/* header-menu .container .menus .expandable:hover .menu,
	header-menu .container .menus .menu:hover {
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
	} */
	header-menu .container .menus .menu .item {
		cursor: pointer;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		column-gap: 1rem;
		width: 100%;
		padding: 0.5rem 1rem;
		transition: background var(--transition);
	}
	header-menu .container .menus .menu .item:hover {
		background-color: var(--background-secondary-color);
	}
	header-menu .container .menus .menu .item:hover .body .title,
	header-menu .container .menus .menu .item:hover .body .description {
		color: var(--color-text-hover);
	}
	header-menu .container .menus .menu .icon {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	header-menu .container .menus .menu .body {
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		justify-content: center;
	}
	header-menu .container .menus .menu .body .title {
		font-size: 1rem;
		color: var(--color-primary-text);
	}
	header-menu .container .menus .menu .body .description {
		color: var(--color-secondary-text);
	}
	header-menu .container .menus .expandable:after {
		content: "\f107";
		font-family: "Line Awesome Free Solid";
		transform: rotate(-90deg);
		margin-left: 10px;
	}
	header-menu .container .menus .menu .icon span {
		font-family: "Line Awesome Free Solid";
		font-size: 1.5rem;
		color: var(--color-primary-text);
	}
}
/* ANCHOR small window */
@media screen and (max-width: 1024px) {
	menu-icon {
		width: 2rem;
		height: 100%;
		display: flex;
		align-items: center;
		-ms-flex: 1;
		flex: 1;
	}
	menu-icon icon {
		cursor: pointer;
	}
	menu-icon icon:after {
		content: "\f0c9";
		font-family: "Line Awesome Free Solid";
		font-size: 2rem;
	}
	menu-icon icon:hover {
		color: var(--accent-color);
	}
	menu-icon[status="opened"] icon:after {
		content: "\f00d";
	}
	header-menu {
		position: fixed;
		top: calc(var(--header-height));
		background-color: rgba(0, 0, 0, 0);
		z-index: 50;
		left: -100%;
		opacity: 0;
		width: 100%;
		height: calc(100% - var(--header-height));
	}
	header-menu .container {
		padding: 16px 0px 16px 16px;
		background-color: var(--background-color);
		border-right: 1px solid var(--divider-color);
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: flex-start;
		display: flex;
		min-width: 22rem;
		height: 100%;
	}
	header-menu[status="opened"] {
		animation: both slide-menu-open 266ms ease-in-out;
	}
	header-menu[status="closed"] {
		animation: both slide-menu-close 266ms ease-in-out;
	}
	header-menu .container .menus {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding-right: 16px;
	}
	header-menu .container .menus .expandable {
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 1rem;
	}
	header-menu .container .menus .expandable > a:after {
		content: "\f107";
		font-family: "Line Awesome Free Solid";
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		margin-left: 10px;
		display: inline-block;
		transition: var(--transition);
	}
	header-menu .container .menus .expandable.expanded > a:after {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	header-menu .container .menus .menu {
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		background-color: var(--background-secondary-color);
		width: 100%;
		padding-bottom: 0;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: 0.3rem;
	}
	header-menu .container .menus .menu > .item {
		display: flex;
		-ms-flex-direction: column;
		flex-direction: row;
		column-gap: 1rem;
		align-items: center;
		color: var(--color-primary-text);
		transition: background-color var(--transition), color var(--transition);
		padding: 0.5rem 1rem;
	}
	header-menu .container .menus .menu > .item:hover {
		color: var(--color-text-hover);
		background-color: var(--background-secondary-color);
	}
	header-menu .container .menus .menu .icon {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
	}
	header-menu .container .menus .menu .icon span {
		font-family: "Line Awesome Free Solid";
		font-size: 2rem;
		color: inherit;
	}
	header-menu .container .menus .menu .body .title {
		font-size: 0.9375rem;
		color: inherit;
	}
	@keyframes slide-menu-open {
		0% {
			left: -100%;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0);
		}
		75% {
			left: 0;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0);
		}
		100% {
			left: 0;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.329);
		}
	}
	@keyframes slide-menu-close {
		0% {
			left: 0;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.329);
		}
		25% {
			left: 0;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0);
		}
		100% {
			left: -100%;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0);
		}
	}
}
/* ANCHOR very small window */
@media screen and (max-width: 800px) {
	header .account {
		padding-right: 5px;
	}
	header .account > .username {
		display: none;
	}
	header .login sahyg-button,
	header .signup sahyg-button {
		font-size: 0;
	}
}
@media screen and (max-width: 500px) {
	header .signup {
		display: none;
	}
}
footer {
	padding: 32px 32px 32px calc(var(--scrollbar-width) + 32px);
	/* height: calc(12rem - 64px); */
	width: 100%;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--background-secondary-color);
	display: block;
}
footer .grid {
	display: -ms-grid;
	display: grid;
	justify-items: center;
	height: 100%;
	-ms-grid-columns: repeat(auto-fit, min(200px, 100%));
	grid-template-columns: repeat(auto-fit, min(200px, 100%));
	align-items: start;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
	justify-content: space-around;
}
footer .grid .column:not(:nth-child(1)) {
	row-gap: 10px;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}
footer .grid .column:nth-child(1) {
	row-gap: 5px;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer .grid .column .title {
	font-size: larger;
	font-weight: bold;
}
footer .grid .column .content {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 5px;
}
footer .grid .column .return-top {
	font-size: 3rem;
	margin: auto;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
sahyg-toasts {
	position: fixed;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 1.5rem;
	top: 1rem;
	right: 1rem;
	max-width: min(25rem, calc(100% - 2rem));
	width: 100%;
	z-index: var(--toast-z-index);
	overflow-y: scroll;
	max-height: calc(100vh - 2rem);
	overflow-x: hidden;
}
tooltips:empty,
menus:empty {
	display: none;
}
tooltips,
menus {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 9999;
}
tooltips .tippy-box,
menus .tippy-box {
	background-color: var(--tooltip-background-primary-color);
	color: var(--tooltip-text-color);
	width: max-content;
}
tooltips .tippy-content,
menus .tippy-content {
	text-align: center;
}
tooltips .tippy-arrow,
menus .tippy-arrow {
	color: var(--tooltip-background-primary-color);
	/* z-index: 2; */
}
menus .tippy-content {
	padding: 0;
}
/* ANCHOR User */
tooltips .user-tooltip {
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
	column-gap: 1rem;
	padding: 0.5rem;
}
tooltips .user-tooltip .avatar {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
}
tooltips .user-tooltip .avatar:after {
	content: "\f007";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--tooltip-background-color);
	color: var(--tooltip-text-color);
	display: flex;
	width: 2rem;
	height: 2rem;
	font-family: "Line Awesome Free Solid";
	font-size: 2rem;
	align-items: center;
	justify-content: center;
}
tooltips .user-tooltip .username {
	font-size: 1.5rem;
}
tooltips .user-tooltip .icons {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}

viewer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
viewer .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.75;
	z-index: 100;
}
viewer .container {
	max-width: 80vw;
	overflow: hidden;
	z-index: 101;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
}
viewer .container img {
	width: min(80vh, 80vw);
	height: auto;
}
viewer .infos {
	color: var(--gray-200);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
viewer .infos > *:not(:first-child)::before {
	content: "|";
	padding: 0 0.5rem;
}
viewer .infos .title {
	max-width: 50%;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}
viewer .infos .link {
	cursor: pointer;
}
viewer .infos .link:hover {
	text-decoration: underline;
}
viewer .close-button {
	position: fixed;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	color: var(--base-white);
	z-index: 101;
	cursor: pointer;
	opacity: 0.8;
}
viewer .close-button:hover {
	opacity: 1;
}
[data-viewer][src] {
	cursor: pointer;
}
heart {
	margin-left: 0.2rem;
}
/* ANCHOR FONTS */
@font-face {
	font-family: "Line Awesome Free Solid";
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("../../fonts/Line Awesome/la-solid-900.eot");
	src: url("../../fonts/Line Awesome/la-solid-900.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Line Awesome/la-solid-900.woff2") format("woff2"), url("../../fonts/Line Awesome/la-solid-900.woff") format("woff"),
		url("../../fonts/Line Awesome/la-solid-900.ttf") format("truetype"),
		url("../../fonts/Line Awesome/la-solid-900.svg#lineawesome") format("svg");
}
@font-face {
	font-family: "Line Awesome Free Regular";
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("../../fonts/Line Awesome/la-regular-400.eot");
	src: url("../../fonts/Line Awesome/la-regular-400.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Line Awesome/la-regular-400.woff2") format("woff2"), url("../../fonts/Line Awesome/la-regular-400.woff") format("woff"),
		url("../../fonts/Line Awesome/la-regular-400.ttf") format("truetype"),
		url("../../fonts/Line Awesome/la-regular-400.svg#lineawesome") format("svg");
}
@font-face {
	font-family: "Line Awesome Free Brands";
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("../../fonts/Line Awesome/la-brands-400.eot");
	src: url("../../fonts/Line Awesome/la-brands-400.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Line Awesome/la-brands-400.woff2") format("woff2"), url("../../fonts/Line Awesome/la-brands-400.woff") format("woff"),
		url("../../fonts/Line Awesome/la-brands-400.ttf") format("truetype"),
		url("../../fonts/Line Awesome/la-brands-400.svg#lineawesome") format("svg");
}
.lafs {
	font-family: "Line Awesome Free Solid";
}
.lafr {
	font-family: "Line Awesome Free Regular";
}
.lafb {
	font-family: "Line Awesome Free Brands";
}

sahyg-label.required:after {
	content: "*";
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1.6rem;
	color: var(--danger-color);
	display: flex;
	width: min-content;
}
sahyg-label.required {
	display: flex;
	column-gap: 0.4rem;
}

/* ANCHOR divider */
.divider {
	width: 95%;
	height: 2px;
	background-color: var(--divider-color);
	border-radius: 2px;
}

/* ANCHOR Tippy */
.tippy-box[data-animation="fade"][data-state="hidden"] {
	opacity: 0;
}
.tippy-box {
	position: relative;
	background-color: var(--tooltip-background-primary-color);
	border-radius: 0.25rem;
	font-size: 14px;
	line-height: 1.4;
	white-space: normal;
	outline: 0;
	transition-property: transform, visibility, opacity;
	border: 1px solid var(--tooltip-border-color);
	min-width: min-content;
	color: var(--tooltip-text-color);
	box-shadow: 0 0 10px 0px var(--background-color);
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
	bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
	bottom: -8px;
	left: 0;
	border-width: 8px 8px 0;
	border-top-color: initial;
	transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
	top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
	top: -8px;
	left: 0;
	border-width: 0 8px 8px;
	border-bottom-color: initial;
	transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
	right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
	border-width: 8px 0 8px 8px;
	border-left-color: initial;
	right: -8px;
	transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
	left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
	left: -8px;
	border-width: 8px 8px 8px 0;
	border-right-color: initial;
	transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
	transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
	width: 16px;
	height: 16px;
	color: var(--tooltip-border-color);
	/* color: var(--tooltip-background-primary-color); */
}
.tippy-arrow:before {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
}
.tippy-content {
	position: relative;
	padding: 5px 9px;
	z-index: 1;
}
.tippy-content .tooltip-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5rem 0;
}
.tippy-content .tooltip-menu .divider {
	margin: 0.25rem auto;
}
.tippy-content .tooltip-menu .item {
	padding: 0.3rem 1rem;
	/* border-radius: 0.3rem; */
}
.tippy-content .tooltip-menu .item:hover {
	background-color: var(--tooltip-background-secondary-color);
}
.tippy-content .tooltip-menu .item {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	cursor: pointer;
	width: 100%;
	flex: 1;
}
.tippy-content .tooltip-menu .item .icon {
	font-size: 1.2rem;
}
.tippy-content .tooltip-menu .item .text {
	margin-right: auto;
}
icon-picker {
	display: flex;
	flex-direction: column;
	width: min(calc(100vw - 36px), 28rem);
	height: min(calc(100vh - 36px), 22rem);
}
icon-picker .header .search-bar {
	padding: 1rem;
}
icon-picker .header .search-bar input {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-bottom: solid 2px var(--divider-color);
	background-color: var(--background-secondary-color);
	border-radius: 0.5rem;
}
icon-picker .header .search-bar input:hover {
	border-bottom: 2px solid var(--accent-color);
}
icon-picker .header .search-bar input:focus-visible {
	outline: none;
}
icon-picker .body {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}
icon-picker .body .icon {
	font-size: 2rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
icon-picker .body .icon.hidden {
	display: none;
}
icon-picker .body .icon:hover {
	background-color: var(--background-tertiary-color);
}
icon-picker .body .icon.regular {
	font-family: "Line Awesome Free Regular";
}
icon-picker .body .icon.solid {
	font-family: "Line Awesome Free Solid";
}
icon-picker .body .icon.brands {
	font-family: "Line Awesome Free Brands";
}
icon-picker .footer .icon-name {
	height: 2rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.tippy-content color-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
}

/* ANCHOR icon before */
[data-svg-icon="user"]:before {
	content: "\f007";
	font-family: "Line Awesome Free Solid";
}
[data-svg-icon="settings"]:before {
	content: "\f013";
	font-family: "Line Awesome Free Solid";
}
[data-svg-icon="logout"]:before {
	content: "\f2f5";
	font-family: "Line Awesome Free Solid";
}
[data-svg-icon="disk"]:before {
	content: "\f0c7";
	font-family: "Line Awesome Free Solid";
}
[data-svg-icon="users"]:before {
	content: "\f509";
	font-family: "Line Awesome Free Solid";
}
[data-svg-icon="group"]:before {
	content: "\f0c0";
	font-family: "Line Awesome Free Solid";
}
[data-svg-icon="pager"]:before {
	content: "\f815";
	font-family: "Line Awesome Free Solid";
}

/* COMPONENT: TEXTAREA */
sahyg-textarea {
	width: 100%;
	flex: 1;
}

/* COMPONENT: DATETIME */
sahyg-datetime input[type="datetime-local"] {
	background: unset;
	border: unset;
	cursor: pointer;
	width: 100%;
	border-bottom: var(--divider-color) 2px solid;
	padding: 0.5rem;
}
sahyg-datetime input[type="datetime-local"]:is(:focus-visible, :focus, :focus-within) {
	outline: none;
	border-bottom: var(--accent-color) 2px solid;
}
sahyg-datetime input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	font-size: 1.1rem;
}

/* Tabs */
sahyg-tabs {
	display: flex;
	flex-direction: row;
	height: 100%;
	/* gap: 1rem; */
	width: 100%;
	max-width: calc(100vw - 3rem);
}
sahyg-tabs[orientation="horizontal"] {
	flex-direction: column;
}
sahyg-tabs > :not([sahyg-tab]):not(:is(.tabs-container, .tabs-icon)) {
	display: none;
}
sahyg-tabs .tabs .tab {
	padding: 0.5rem 1rem;
	cursor: pointer;
	/* border-radius: 0.25rem; */
	height: min-content;
	transition: var(--transition);
	width: 100%;
	border-left: 2px solid transparent;
}
sahyg-tabs[orientation="horizontal"] > .tabs-container > .tabs > .tab {
	border-left: unset;
	border-bottom: 2px solid transparent;
	display: flex;
	justify-content: center;
	flex: 1;
	min-width: 10rem;
}
sahyg-tabs .tabs .tab:hover {
	background-color: var(--background-secondary-color);
}
sahyg-tabs .tabs .tab.opened {
	border-left-color: var(--accent-color);
}
sahyg-tabs[orientation="horizontal"] > .tabs-container > .tabs > .tab.opened {
	border-bottom-color: var(--accent-color);
}
sahyg-tabs[orientation="horizontal"] [sahyg-tab] {
	width: 100%;
	padding-bottom: 10rem;
	margin: 0 auto;
}
sahyg-tabs [sahyg-tab]:not(.opened) {
	display: none;
}
@media screen and (min-width: 801px) {
	sahyg-tabs .tabs {
		display: flex;
		background-color: var(--background-tertiary-color);
		padding: 1rem 0rem 1rem 0.5rem;
		border-radius: 0.25rem;
		min-width: 15rem;
		flex-direction: column;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		position: sticky;
		height: calc(100vh - var(--header-height) - 2rem);
		top: 1rem;
		margin-right: 1rem;
		overflow-y: scroll;
	}
	sahyg-tabs[orientation="horizontal"] sahyg-tabs > .tabs-container > .tabs {
		height: calc(100vh - var(--header-height) - 2rem - 6rem);
	}
	sahyg-tabs[orientation="horizontal"] > .tabs-container > .tabs {
		height: auto;
		flex-direction: row;
		margin-bottom: 1rem;
		margin-right: 0;
		flex-wrap: wrap;
	}
	sahyg-tabs .tabs-icon {
		display: none;
	}
	sahyg-tabs:not([orientation="horizontal"]) [sahyg-tab] {
		max-width: calc(100vw - 3rem - 15rem - 1rem);
	}
}

@media screen and (max-width: 800px) {
	sahyg-tabs:not([orientation="horizontal"]) > .tabs-container {
		width: 0;
		height: calc(100vh - var(--header-height) - 2rem);
		position: sticky;
		top: 1rem;
		z-index: 20;
	}
	sahyg-tabs:not([orientation="horizontal"]) > .tabs-container > .tabs {
		top: 0;
		display: flex;
		background-color: var(--background-tertiary-color);
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-radius: 0.25rem;
		/* min-width: 12rem; */
		flex-direction: column;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		height: calc(100vh - var(--header-height) - 2rem);
		top: 0;
		transition: var(--transition);
		width: 0;
		padding-left: 0;
		padding-right: 0;
		overflow: hidden;
	}
	sahyg-tabs[orientation="horizontal"] sahyg-tabs > .tabs-container > .tabs {
		height: calc(100vh - var(--header-height) - 2rem - 6rem);
	}
	sahyg-tabs:not([orientation="horizontal"]).opened > .tabs-container > .tabs {
		width: min(20rem, calc(100vw - 3rem));
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	sahyg-tabs:not([orientation="horizontal"]) > .tabs-icon {
		height: calc(100vh - var(--header-height) - 2rem);
		margin-top: 0.5rem;
		width: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		position: sticky;
		z-index: 21;
		cursor: pointer;
		left: 0;
		top: 1.5rem;
		transition: var(--transition);
	}
	sahyg-tabs:not([orientation="horizontal"]) > .tabs-icon:before {
		content: "\f0c9";
		font-family: var(--font-icon-solid);
		font-size: 1.5rem;
		padding: 0.5rem;
		background-color: var(--background-secondary-color);
		border-radius: 100%;
		box-shadow: var(--background-color) 0 0 25px -3px;
	}
	sahyg-tabs:not([orientation="horizontal"]).opened > .tabs-icon {
		left: calc(20rem + 2rem);
	}
	sahyg-tabs:not([orientation="horizontal"]).opened > .tabs-icon:before {
		content: "\f00d";
	}
	sahyg-tabs:not([orientation="horizontal"]) > [sahyg-tab] {
		margin-left: 3rem;
		max-width: calc(100vw - 3rem - 2rem - calc(var(--scrollbar-width) + 1rem));
	}
	sahyg-tabs[orientation="horizontal"] > .tabs-container > .tabs {
		display: flex;
		background-color: var(--background-tertiary-color);
		padding: 1rem 0.5rem;
		border-radius: 0.25rem;
		min-width: 15rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		position: sticky;
		top: 1rem;
		height: auto;
		flex-direction: row;
		margin-bottom: 1rem;
		margin-right: 0;
		flex-wrap: wrap;
	}
	sahyg-tabs[orientation="horizontal"] > .tabs-icon {
		display: none;
	}
}
@media screen and (max-width: 25.5rem) {
	sahyg-tabs.opened .tabs-icon {
		left: calc(min(20rem, calc(100vw - 3rem)) - 1.5rem);
		top: 2rem;
	}
}

sahyg-page-title {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	width: fit-content;
}

sahyg-toasts:empty {
	display: none;
}

sahyg-collapsable > .collapsable-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
sahyg-collapsable > .collapsable-header .collapsable-name {
	font-weight: bold;
	font-size: 1.5rem;
}
sahyg-collapsable > .collapsable-header .collapsable-name:after {
	content: "\f105";
	font-family: var(--font-icon-solid);
	margin-left: 0.5rem;
	display: inline-block;
	transition: transform var(--transition);
}
sahyg-collapsable[opened="true"] > .collapsable-header .collapsable-name:after {
	transform: rotate(90deg);
}
sahyg-collapsable > .collapsable-header .collapsable-description {
	font-style: italic;
	color: var(--color-secondary-text);
}
