container {
	max-width: 70rem;
}
c-horizontal-tabs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
container .category {
	row-gap: 1rem;
	display: flex;
	flex-direction: column;
	max-width: 60rem;
	width: 100%;
}
container .setting {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	column-gap: 1rem;
	row-gap: 0.5rem;
	/* height: 4rem; */
}
container .setting .informations {
	display: flex;
	flex-direction: column;
	min-width: 10rem;
	width: auto;
}
container .informations .title {
	font-size: 1.2rem;
	font-weight: bold;
}
container .informations .description {
	font-size: 0.8rem;
	min-height: 14px;
}
container .value {
	min-width: min(20rem, 100%);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
@media screen and (max-width: 600px) {
	container .setting {
		flex-direction: column;
	}
	container .value {
		display: block;
	}
}
@media screen and (min-width: 601px) {
	container .setting {
		flex-direction: row;
	}
}
container .avatar {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: fit-content;
	row-gap: 1rem;
	column-gap: 1rem;
}
container .avatar .current {
	width: 10rem;
	height: 10rem;
	border-radius: 1rem;
}
container .avatar .current > div {
	font-size: 10rem;
}
container .avatar .panel {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
container .avatar .panel .actions {
	display: flex;
	column-gap: 1rem;
}
container .avatar .panel .infos {
	font-size: 0.8rem;
	color: var(--color-secondary-text);
}
/* ANCHOR About */
container [data-horizontal-tabs-id="profile"] .about,
container [data-horizontal-tabs-id="profile"] .custom {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
container [data-horizontal-tabs-id="profile"] .about .chart-counter {
	margin-right: 0.5rem;
}
container [data-horizontal-tabs-id="profile"] .about .value {
	width: 100%;
	min-height: 10rem;
}
container [data-horizontal-tabs-id="profile"] .about .value .ta {
	width: 100%;
}
container [data-horizontal-tabs-id="profile"] .about .value textarea {
	height: 100%;
	width: 100%;
	resize: vertical;
	min-height: 10rem;
	background-color: var(--background-color);
	outline: none;
	color: var(--color-text);
	border: none;
	padding: 0.5rem;
}
container [data-horizontal-tabs-id="profile"] .custom .value {
	overflow-x: scroll;
}
container [data-horizontal-tabs-id="profile"] .custom .value c-input-array {
	min-width: 30rem;
} /* ANCHOR Save Button */
.save-button {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	height: 3rem;
	width: 10rem;
	z-index: 100;
}
.save-button.hidden {
	display: none;
} /* ANCHOR not editable */
[data-editable="false"] {
	opacity: 0.8;
	cursor: not-allowed;
}
