container {
	max-width: 70rem;
}
c-horizontal-tabs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
container [sahyg-tab] {
	row-gap: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 10rem;
}
container [sahyg-tab] .tab-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}
container .setting {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	column-gap: 1rem;
	row-gap: 0.5rem;
	/* height: 4rem; */
}
container .setting.vertical {
	flex-direction: column;
}
container .section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	column-gap: 1rem;
	row-gap: 1rem;
	flex-direction: column;
}
container .informations {
	display: flex;
	flex-direction: column;
	min-width: 10rem;
	width: auto;
	flex-grow: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
container .informations .title {
	font-size: 1.2rem;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	column-gap: 0.5rem;
}
container .informations .description {
	font-size: 0.8rem;
	min-height: 14px;
	color: var(--color-secondary-text);
	font-style: italic;
}
container .value {
	min-width: min(15rem, 100%);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

container .value sahyg-input-array {
	width: 100%;
}
@media screen and (max-width: 600px) {
	container .setting {
		flex-direction: column;
	}
	container .value {
		display: block;
	}
}
@media screen and (min-width: 601px) {
	container .setting {
		flex-direction: row;
	}
}
container .avatar {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: -moz-fit-content;
	width: fit-content;
	row-gap: 1rem;
	column-gap: 1rem;
}
container .avatar .panel {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
container .avatar .panel .buttons {
	display: flex;
	column-gap: 0.5rem;
}
/* ANCHOR About */
container [data-horizontal-tabs-id="profile"] .about,
container [data-horizontal-tabs-id="profile"] .custom {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
container [data-horizontal-tabs-id="profile"] .about .chart-counter {
	margin-right: 0.5rem;
}
container [data-horizontal-tabs-id="profile"] .about .value {
	width: 100%;
	min-height: 10rem;
}
container [data-horizontal-tabs-id="profile"] .about .value .ta {
	width: 100%;
}
container [data-horizontal-tabs-id="profile"] .about .value textarea {
	height: 100%;
	width: 100%;
	resize: vertical;
	min-height: 10rem;
	background-color: var(--background-color);
	outline: none;
	color: var(--color-primary-text);
	border: none;
	padding: 0.5rem;
}
container [data-horizontal-tabs-id="profile"] .custom .value {
	overflow-x: scroll;
}
container [data-horizontal-tabs-id="profile"] .custom .value c-input-array {
	min-width: 30rem;
} /* ANCHOR Save Button */
.save-button {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	height: 3rem;
	width: 10rem;
	z-index: 100;
}
.save-button.hidden {
	display: none;
} /* ANCHOR not editable */
[data-editable="false"] {
	opacity: 0.8;
	cursor: not-allowed;
}

container .login-required {
	margin: auto;
}
container #tab .tabs .tab + :not(.tab) {
	margin-top: auto;
	margin-right: auto;
}
container #tab .tabs .icons {
	padding: 0.5rem 0;
}
container #tab .tabs .need-reload {
	color: var(--color-tertiary-text);
	font-size: 1.5rem;
}
container .need-reload {
	color: var(--color-secondary-text);
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
container #tab .need-reload.needed {
	color: var(--danger-color);
	animation: blink 0.5s ease-in-out 0s infinite both alternate;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
container #tab > .tabs-container .tab {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
container #tab > .tabs-container .unsaved-icon {
	font-family: var(--font-icon-solid);
	color: var(--danger-color);
	font-size: 1.3rem;
	animation: blink 0.5s ease-in-out 0s infinite both alternate;
}
container #tab > .tabs-container .unsaved-icon.hidden {
	display: none;
}

container .avatar .title {
	font-size: 1.3rem;
}
container .avatar .informations {
	font-size: 0.8rem;
	color: var(--color-secondary-text);
}
container .avatar img {
	width: 10rem;
	height: 10rem;
}

container .avatar img:before {
	content: "\f007";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-color);
	color: var(--accent-color);
	text-align: center;
	display: flex;
	width: 100%;
	height: 100%;
	font-family: "Line Awesome Free Solid";
	font-size: 10rem;
}

#password_save_button {
	margin-top: 1rem;
	display: block;
}
