/* ANCHOR Top Nav */

c-horizontal-tabs {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
c-horizontal-tabs-panel {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-wrap: wrap;
	padding-bottom: 2rem;
}

c-horizontal-tabs-item {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 10rem;
	-ms-flex: 1;
	flex: 1;
	border-bottom: 1px solid var(--divider-color);
}

c-horizontal-tabs-item:not(.active) {
	cursor: pointer;
}

c-horizontal-tabs-item:not(.active):hover {
	background-color: var(--background-tertiary-color);
}

c-horizontal-tabs-item.active {
	background-color: var(--background-secondary-color);
}
c-horizontal-tabs-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
c-horizontal-tabs-container > [data-horizontal-tabs-id] {
	flex: 1;
}
[data-horizontal-tabs-id]:not(.active) {
	display: none;
}

/* ANCHOR Section */

c-section {
	width: 100%;
	display: flex;
	row-gap: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
}

c-section:not(.open) {
	margin-bottom: 1rem;
}

c-section-title {
	font-weight: bold;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-radius: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	align-items: center;
}

c-section-title:hover {
	background-color: var(--background-secondary-color);
}

c-section-title:before {
	content: "";
	position: relative;
	background-color: var(--divider-color);
	height: 2px;
	-ms-order: 2;
	order: 2;
	-ms-flex: 1;
	flex: 1;
	margin: 0 1rem;
}

c-section-title:after {
	-ms-order: 3;
	order: 3;
	content: "\f107";
	font-family: "Line Awesome Free Solid";
	transition: transform var(--transition);
}

c-section:not(.open) c-section-title:after {
	transform: rotate(-90deg);
}

c-section:not(.open) c-section-content {
	display: none;
}

c-section c-section-content:empty,
c-section c-section-content:empty {
	display: none;
}

/* ANCHOR Title */
c-title {
	font-size: 2rem;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	width: 100%;
	display: block;
	margin-bottom: 2rem;
}

/* ANCHOR verticalTabs */
c-vertical-tabs {
	--panel-width: 16rem;
	--panel-bar-width: 1.5rem;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	column-gap: 2rem;
	height: 100%;
}
c-vertical-tabs-panel {
	height: calc(100vh - var(--header-height));
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
c-vertical-tabs-search ~ c-vertical-tabs-menu {
	height: 100%;
}
c-vertical-tabs-menu {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	border-right: 1px solid var(--divider-color);
	overflow-y: scroll;
	overflow-x: hidden;
	width: var(--panel-width);
	overscroll-behavior: none;
}
c-vertical-tabs-item {
	cursor: pointer;
	padding: 0.4rem 1rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
	height: 2rem;
	width: 100%;
}
c-vertical-tabs-item:hover {
	background-color: var(--background-tertiary-color);
}
c-vertical-tabs-item.active {
	background-color: var(--background-secondary-color);
}
c-vertical-tabs-display-button {
	display: none;
}

c-vertical-tabs-container [data-vertical-tabs-id]:not(.active) {
	display: none;
}

@media screen and (max-width: 800px) {
	c-vertical-tabs-container {
		position: absolute;
	}
	c-vertical-tabs-panel {
		z-index: 1;
		transition: width var(--transition), padding-right var(--transition);
		background-color: var(--background-color);
		overflow: hidden;
		min-height: 25rem;
	}
	c-vertical-tabs-panel.opened {
		padding-right: calc(var(--panel-bar-width) + 0.5rem);
		width: calc(var(--panel-width) + var(--panel-bar-width));
	}
	c-vertical-tabs-panel:not(.opened) {
		width: var(--panel-bar-width);
	}
	c-vertical-tabs-menu {
		border-right: none;
		width: calc(var(--panel-width) - 0.5rem)
	}

	c-vertical-tabs-search ~ c-vertical-tabs-menu {
		height: calc(100% - 30px - 1rem);
	}
	c-vertical-tabs-display-button {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		background-color: var(--background-secondary-color);
		height: 100%;
		width: var(--panel-bar-width);
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		cursor: pointer;
	}
	c-vertical-tabs-display-button:after {
		transition: var(--transition);
		font-family: "Line Awesome Free Solid";
		content: "\f105";
		align-self: flex-start;
		margin: auto;
	}
	c-vertical-tabs-panel.opened c-vertical-tabs-display-button:after {
		transform: rotate(180deg);
	}
	c-vertical-tabs-display-button:hover {
		background-color: var(--background-tertiary-color);
	}
	c-vertical-tabs-container {
		padding-left: 2rem;
	}
}
